* {
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	color: black;
}
div.clear {
	clear: both;
}
body {
	background: url('bg.jpg') repeat fixed #000;
}
div#original {
	display: none;
}
div#container {
	width: 800px;
	height: 500px;
	margin: 50px auto 0 auto;
}
div#container img {
	width: 100%;
	height: 100%;
}
div#magnifier {
	width: 146px;
	height: 146px;
	border: 2px solid black;
	border-radius: 100px;
	display: none;
	position: absolute;
	float: left;
	background-repeat: no-repeat;
	cursor: none;
}